{% extends 'base.html' %}

{% load static %}

{% block title %} MyProject {% endblock title %}

{% block content %}
<!--Content-->
<div class="content-body">
    <div class="container">
        <div class="content">

<!-------------------------Title Greeting-------------------->

            <div class="greeting__row row">
                <div class="title__row title">
                    Привет! Это тестовая поляна для эксперементов
                </div>
                <div class="subtitle__row subtitle">
                    На этом сайте я планирую размещать полезные ссылки для веб-разработки, а так же отрабатывать на практике навыки разработки интернет-ресурсов
                </div>
            </div>

<!-------------------------3 Columns------------------------->

            <div class="but3__row row">
                <div class="but3-column__row but3">
                    <div class="image__but3 wow tada" data-wow-iteration="1">
                        <img src="{% static 'MyApp/img/books-min.png' %}">
                    </div>
                    <div class="title__but3 title">
                        Ссылочная
                    </div>
                    <div class="subtitle__but">
                        Страничка со ссылками на полезные ресурсы. Заходи не стесняйся
                    </div>
                    <div class="text__but3">

                    </div>
                    <div class="button-wrapper__but3">
                        <div class="buttton__but3">
                            <a href="{% url 'links_list' %}" class="btn btn1">Ссылки</a>
                        </div>
                    </div>
                </div>
                <div class="but3-column__row but3">
                    <div class="image__but3 wow tada" data-wow-delay="1s">
                        <img class="img_2" src="{% static 'MyApp/img/desk.png' %}">
                    </div>
                    <div class="title__but3 title">
                        Доска
                    </div>
                    <div class="subtitle__but">
                        На доске можно что-нибудь написать... Ну со временем можно будет
                    </div>
                    <div class="text__but3">

                    </div>
                    <div class="button-wrapper__but3">
                        <div class="buttton__but3">
                            <a href="#" class="btn btn1">Доска</a>
                        </div>
                    </div>
                </div>
                <div class="but3-column__row but3">
                    <div class="image__but3 wow bounce" data-wow-delay="2s">
                        <img class="img_3" src="{% static 'MyApp/img/notepad.png' %}">
                    </div>
                    <div class="title__but3 title">
                        Авторизация
                    </div>
                    <div class="subtitle__but">
                        Что бы написать на доске или добавить ссылку придется авторизоваться...
                    </div>
                    <div class="text__but3">

                    </div>
                    <div class="button-wrapper__but3">
                        <div class="buttton__but3">
                            <a href="{% url 'account_signup' %}" class="btn btn1">Авторизация</a>
                        </div>
                    </div>
                </div>
            </div>

<!-------------------------Content Smoke--------------------->

            <div class="row__content row">
                <div class="smoke__row column">
                    <div class="title__column title">
                        Добавим немного контента
                    </div>
                    <div class="subtitle__column subtitle">
                        Я стараюсь держать себя в руках и не вставлять свистелки и перделки в количествах, превосходящих здравый смысл
                    </div>
                    <div class="content__column">
                        Справа должен был выехать красный дым к тому моменту как вы доберетесь до этих строк, чтож надеюсь он там...
                    </div>
                    <div class="button__column">
                        <div class="button-wrapper__column">
                            <div class="buttton__but3">
                                <a type='button' id=animbutton class="btn btn1">Анимация</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='anim' class="img__column wow fadeInRightBig" data-wow-offset="400">
                    <img src="{% static 'MyApp/img/smoke.png' %}">
                </div>
            </div>
            
<!-------------------------Comment FORM---------------------->

            <div class="comment-form">
                <form action="{% url 'add_comment' %}" method="post">
                    {% csrf_token %}

                    <div class="form-text">
                        <div class="label__form-text">
                            <label for="id_text">Оставить комментарий</label>
                        </div>

                            <div class="input__form-text">
                                {{ form.text }}
                            </div>

                        </div>

                    {% if user.is_authenticated %}
                        <div class="container__form-text">
                            <div class="button__form-text">
                                <button type="submit" class="comment-button">
                                    Отправить
                                </button>
                            </div>
                        </div>
                    {% else %}
                        <div class="container__form-text">
                            <p>Только авторизованые пользователи могут оставлять комментарии</p>
                        </div>
                    {% endif %}
                </form>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert-warning">
                                <div class="alert-warning-box">
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

<!-------------------------Comments-------------------------->

            {% for com in comments_list %}
            <div class="message">
                <div class="username__message username">
                    <div class="name__username">{{ com.owner }}</div>
                    <div class="date__username">{{ com.date }}</div>
                </div>
                <div class="body__message">
                    <div class="ava__message">
                        <img src="{% static 'MyApp/img/batman.png' %}" alt="">
                    </div>
                    <div class="text__message">{{ com.text }}</div>
                </div>
            </div>
            {% endfor %}

<!-------------------------Pagination------------------------->

            <div class="pagination">
                <div class="title__pagination">
                    Посмотреть еще комментариев
                </div>
                <div class="body__pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">
                                <img src="{% static 'MyApp/img/ikons/left2.png' %}" alt="first">
                            </a>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <img src="{% static 'MyApp/img/ikons/left1.png' %}" alt="previous">
                            </a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                <img src="{% static 'MyApp/img/ikons/rigt1.png' %}" alt="next">
                            </a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">
                                <img src="{% static 'MyApp/img/ikons/right2.png' %}" alt="last">
                            </a>
                        {% endif %}
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- // Content-->

{% endblock content %}





