{% extends 'base.html' %}

{% load static %}

{% block title %} MyProject {% endblock title %}

{% block content %}
<!--Content-->
<div class="content-body">
    <div class="container">
        <div class="content">

<!-------------------------Title Greeting-------------------->

            <div class="greeting__row row">
                <div class="title__row title">

                </div>
                <div class="subtitle__row subtitle">
                    На этой странице пока ничего нет, но со временем появится... может быть
                </div>
            </div>


        </div>
    </div>
</div>
<!-- // Content-->

{% endblock content %}





