{% extends 'base.html' %}

{% load static %}

{% block title %} Learning JS {% endblock title %}

{% block content %}
<!--Content-->
<div class="content-body">
    <div class="container">
        <div class="content">

<!-------------------------Title Greeting-------------------->

            <div class="greeting__row row">
                <div class="title__linkrow title">

                </div>
                <div class="subtitle__row subtitle">
                    Учим JavaScript и пробуем тут :)
                </div>
            </div>


        </div>
    </div>
</div>
    <script src="{% static 'MyApp/js/hangman.js' %}"></script>

<!-- // Content-->

{% endblock content %}





