{% extends 'base.html' %}

{% load static %}

{% block title %} MyLinks {% endblock title %}

{% block content %}
<!--Content-->
<div class="content-body">
    <div class="container">
        <div class="content">

<!-------------------------Title Greeting-------------------->

            <div class="greeting__row row">
                <div class="title__row">HTML & CSS</div>
                <div class="body__row">
                    <table>
                      <tr>
                        <th style="width:50%">Features</th>
                        <th>Basic</th>
                        <th>Pro</th>
                      </tr>
                      <tr>
                        <td>Sample text</td>
                        <td><i class="fa fa-remove">123</i></td>
                        <td><i class="fa fa-check">123</i></td>
                      </tr>
                      <tr>
                        <td>Sample text</td>
                        <td><i class="fa fa-check">321</i></td>
                        <td><i class="fa fa-check">321</i></td>
                      </tr>
                      <tr>
                        <td>Sample text</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                      </tr>
                      <tr>
                        <td>Sample text</td>
                        <td><i class="fa fa-remove"></i></td>
                        <td><i class="fa fa-check"></i></td>
                      </tr>
                      <tr>
                        <td>Sample text</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                      </tr>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
<!-- // Content-->

{% endblock content %}





