{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="inlogin">

	
    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
    
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
        {% endif %}


        <div class="container">

            {% if form.non_field_errors %}
                <div class="alert alert-warning">
                    <div class="alert-warning-box">
                        <ul class="errorlist nonfield">
                            {{ form.non_field_errors }}
                        </ul>
                    </div>
                </div>
            {% endif %}

            <label for="id_email"><b>E-mail</b></label>
            <input type="email" placeholder="E-mail address" autocomplete="email"
                   name="email" maxlength="150" required id="id_email">

            {% if form.email.errors %}
                <div class="alert alert-warning">{{ form.email.errors }}</div>
            {% endif %}

            <label for="id_username"><b>Username</b></label>
            <input type="text" placeholder="Username" autocomplete="username" name="username" minlength="1" maxlength="30" required id="id_username">

            {% if form.username.errors %}
                <div class="alert alert-warning">{{ form.username.errors }}</div>
            {% endif %}

            <label for="id_password1"><b>Password</b></label>
            <input type="password" placeholder="Password" name="password1" required id="id_password1">

            <label for="id_password2"><b>Password</b></label>
            <input type="password" placeholder="Password (again)" name="password2" required id="id_password2">

            {% if form.password.errors %}
                <div class="alert alert-warning">{{ form.password.errors }}</div>
            {% endif %}

            <button class="primaryAction signup-button" type="submit">Sign Up</button>

            {% if form.non_field_errors %}
            <div class="alert alert-warning">
                <div class="alert-warning-box">
                    <ul class="errorlist nonfield">
                        {{ form.non_field_errors }}
                    </ul>
                </div>
            </div>
            {% endif %}

        </div>
    </form>

    <div class="cancel-container">
        <a href="{% url 'comment_list' %}">
            <div class="cancel-div">
                Cancel
            </div>
        </a>

        <a href="{{ login_url }}">
            <div class="signup-div">
                Login
            </div>
        </a>
    </div>
</div>

{% endblock content %}