@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, \:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;

}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  height: 100%;
  font-family: "Oswald", sans-serif;
  background-image: url("../img/fon3.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}

/*-----------------TOP BUTTON-------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 9;
  font-size: 12px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #4c394f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  transition: 1s;

}

#myBtn:hover {
  background-color: #555;
}
.up_but {
  width: 20px;
}

/* --------------MENU----------------- */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4c394f;
  z-index: 2;
  opacity: 0.8;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 90px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 60%;
  display: block;
}

.header__list {
  display: flex;
}

.header__list li {
  list-style: none;
  margin: 0 20px 0 20px;
  position: relative;
  z-index: 2;
}

.header__link {
  color: #d5ddef;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
nav ul li span {
  color: #d5ddef;
  font-size: 16px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #000;
  font-weight: bold;
}

.blank-box {
  height: 50px;
}

/* -------------------/MENU--------------------- */

/* -------------------CONTENT------------------- */
.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.content-body {
  padding: 60px 0 0 0;
}

.content {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0 0 0;
}

.row {
  display: flex;
  line-height: 1.5;
}

.column {
  display: flex;
  flex-direction: column;
}

.title {
  color: #01132d;
}

.subtitle {
  color: #01132d;
}

/* -----------------------Greeting-------------------------- */
.greeting__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__row {
  text-align: center;
  font-size: 45px;
  width: 70%;
  font-weight: bold;
}

.subtitle__row {
  text-align: center;
  width: 70%;
  font-size: 25px;
}

/*---------------- 3 Buttons in columns -------------------*/
.but3__row {
  margin-top: 50px;
  padding: 40px 10px 10px 10px;
  justify-content: space-around;
}

.but3 {
  box-shadow: 0px 0px 18px 4px rgba(34, 60, 80, 0.3);
  /*box-shadow: inset rgba(0, 0, 0, 0.5) -3px -3px 8px, inset rgba(255, 255, 255, 0.9) 3px 3px 8px, rgba(0, 0, 0, 0.8) 3px 3px 8px -3px;*/
  border-radius: 8px;
  background-color: seashell;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 28%;
  text-align: center;
  min-width: 280px;
  margin: 5px 5px 5px 5px;
}

.image__but3 {
  width: 70%;
  height: 200px;
}

.image__but3 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image__but3 .img_2 {
  margin-top: 10px;
}

.image__but3 .img_3 {
  width: 80%;
}

.title__but3 {
  font-size: 30px;
  padding: 20px 0 0 0;
}

.subtitle__but {
  flex-grow: 1;
  font-size: 15px;
  color: dimgrey;
  padding: 20px 20px 20px 20px;
}

/* --------------------------BUTTON------------------------------ */
.button-wrapper__but3 {
  height: 70px;
  padding: 0 0 60px 0;
}

.buttton__but3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttton__but3 {
  position: relative;
  display: block;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  background-color: #4c394f;
  margin: 30px 0;
  border: 1px solid #2e1a1e;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.buttton__but3 a {
  color: wheat;
}

.buttton__but3::before {
  background: #ff7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.buttton__but3::before {
  width: 100%;
  height: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.buttton__but3:hover::before {
  height: 380%;
}

/*------------------ Row with smoke--------------------- */
.smoke__row {
  margin-top: 20px;
  padding: 30px 20px 20px 50px;
  flex: 0 0 50%;
  justify-content: center;
}

.title__column {
  font-size: 44px;
  color: #01132d;
  margin: 0 0 10px 0;
  font-weight: normal;
}

.subtitle__column {
  font-size: 24px;
  color: #01132d;
}

.content__column {
  font-size: 16px;
  color: dimgrey;
}

.button__column {
  display: flex;
  justify-content: center;
}

.button-wrapper__column {
  height: 70px;
  width: 200px;
  padding: 0 0 0 0;
  margin: -20px 30px 0 0;
}

.img__column img {
  max-width: 100%;
}

/*--------------------ADD COMMENT-----------------------*/
.comment-form {
  display: flex;
  flex-direction:column;
  overflow: hidden;
  width: 90%;
  margin: 20px 0 10px 20px;
}

.label__form-text {
  text-align: center;
}
.form-text label {
  font-size: 32px;
}
.input__form-text {
  text-align: center;
  margin: 20px 0 10px 0;
}
.input__form-text textarea {
  width: 90%;
  height: 100px;
  border-radius: 5px;
  border: #ccc 1px solid;
  resize: none;
  padding: 8px 8px 8px 10px;
  font-size: 16px;
}
.form-text textarea:focus {
  background-color: lightblue;
}
.container__form-text {
  display: flex;
  justify-content: center;
}
.container__form-text p {
  font-size: 20px;
}
.button__form-text {
  width: 90%;
}
.button__form-text button {
  float: right;
  background-color: #4c394f;
  border: none;
  font-size: 20px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
/*--------------------ERROR MESSAGES--------------------------*/
.alert-warning {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.alert-warning-box {
  display: flex;
  align-items:center;
  justify-content: center;
  background-color: #d2a380;
  width: 95%;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;

}

/*--------------------COMMENTS--------------------------*/

.message-box {
  display: flex;
  flex-direction:column;
  align-items:center;
  margin: 50px 0 0 20px;
  overflow: hidden;
}

.greeting__message-box {
  font-size: 45px;
  font-weight: bold;
}

.message {
  flex-direction:column;
  background-color: #fcfbfc;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 4px rgba(34, 60, 80, 0.3);
  width: 90%;
  margin: 20px 0 10px 20px;
}

.username {
  display: flex;
  height: 30px;
  background-color: #bcb8ce;
  border-radius: 15px 15px 0 0;
}

.name__username {
  width: 20%;
  border-right: 1px solid #000;
  text-align: center;
  padding: 8px 0 0 0;
  font-weight: bold;
}

.date__username {
  width: 80%;
  padding: 8px 0 0 10px;
}

.body__message{
  display: flex;

}
.ava__message {
  border-right: 1px solid #000;
  width: 20%;
  text-align: center;
}
.ava__message img {
  width: 120px;
}

.text__message{
  font-size: 15px;
  padding: 8px 8px 8px 10px;
  width: 80%;
}
/*--------------------PAGINATION------------------------*/

.pagination {
  flex-direction:column;
  width: 90%;
  margin: 20px 0 10px 20px;
}
.title__pagination {
  text-align: center;
  height: 30px;
  font-size: 20px;
}
.body__pagination {
  text-align: center;
  font-size: 15px;
}
.step-links img {
  width: 20px;
}

/*------------------- FOOTER--------------------------- */
.spacer{
  height: 220px;
}
.footer {
  background-color: #4c394f;
  color: #d3d3d3;
  height: 200px;
  position: relative;
  margin-top: -220px;
}

.footer .footer-content {
  height: 150px;
}

.footer .footer-bottom {
  background: #4c394f;
  border-top: 1px solid #d3d3d3;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
}

@media (max-width: 920px) {
  .but3__row {
    flex-wrap: wrap;
  }

  .title__column {
    font-size: 34px;
  }

  .subtitle__column {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .content {
    padding: 70px 0 0 0;
  }

  body.lock {
    overflow: hidden;
  }

  .row__content {
    display: block;
  }

  .title__column {
    font-size: 44px;
  }

  .subtitle__column {
    font-size: 24px;
  }
  .ava__message img {
  width: 100%;
  }
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }

  .header__logo {
    flex: 0 0 55px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__link {
    color: #01132d;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #bcb8ce;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__link {
    font-size: 24px;
  }
}
@media (max-width: 630px) {
  .title__row {
    font-size: 30px;
    width: 90%;
    font-weight: bold;
  }

  .subtitle__row {
    width: 90%;
    font-size: 20px;
    color: lightslategrey;
  }
}



/* -----------------------SIGN UP----------------------- */
.inlogin {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height: auto;
  padding-top: 20px;
  box-shadow: 0px 0px 18px 4px rgba(34, 60, 80, 0.3);
}


/* ---inputs and buttons--- */
.button_login{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  background-color: #4c394f;
}

.inlogin input {
  font-size: 15px;
  width: 95%;
  padding: 12px 20px;
  margin: 10px 20px 10px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.inlogin button {
  background-color: #4c394f;
  color: white;
  font-size: 18px;
  padding: 14px 20px;
  margin: 25px 20px 8px 20px;
  border: none;
  cursor: pointer;
  width: 95%;
}

.inlogin button:hover, .inlogin button:focus {
  background: #882244;
  opacity: 0.8;
}

.inlogin label {
  color: #000;
  font-size: 20px;
  margin: 20px 20px 8px 20px;
}

#id_remember {
  width: 30px;
}

.title__social, .body__social {
  color: black;
  text-align: center;
  margin: 15px 10px 0 10px;
  font-size: 35px;
}

.body__social {
  font-size: 18px;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

.vk_logo {
  width: 50px;
}


.alert-warning {
  display: flex;
  justify-content: center;
  width: 100%;
}
.alert-warning-box {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #ddffdd;
  width: 95%;

}
.errorlist li {
  color: black;
  height: 50px;
  padding: 15px 0 0 0;
}

/* ---cancel Button--- */
.cancel-container {
  background-color:#f1f1f1;
  width: 100%;
  height: 50px;
  display: flex;
  align-self:center;
  padding: 7px;
  justify-content:space-between;
  margin-top: 20px;

}
.cancel-div {
  text-align: center;
  font-size: 15px;
  background: #4c394f;
  color: #fff;
  padding: 10px;
  height: 35px;
  width: 100px;
}

.signup-div {
  text-align: center;
  font-size: 15px;
  background: #4c394f;
  color: #fff;
  padding: 10px;
  height: 35px;
  width: 100px;
}

.cancel-container .cancel-div:hover, .signup-div:hover {
  background: #882244;
  opacity: 0.8;

}

.message__inlogin {
  text-align: center;
  font-size: 22px;
}

/* -----------------LINKS--------------------- */
.title__row {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 0 0;
}
.body__row {
  width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 95%;
  margin: auto;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 18px 4px rgba(34, 60, 80, 0.3);
  border-radius: 8px;
}

th, td {
  font-size: 19px;
  text-align: center;
  padding: 10px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:nth-child(odd) {
  background-color: #fff
}

